* {
    margin: 0;
    padding: 0
}

em, i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}

button, input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px / 1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666
}
#shortcut{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
}
.w{
    position: relative;
    width: 1390px;
    height: 30px;
    margin: auto;
}
.f1{
    float: left;
    list-style-type: disc;
    margin-left: 20px;
}
.f1 li{
    float: left;
    margin-left: 20px;
}
.fore{
    float: right;
    margin-right: 30px;
}
#logo_2018{
    position: relative;
    float: left;
    width: 276px;
    height: 50px;
    margin: 15px 0 22px;
}
#form{
    width: 900px;
    height: 40px;
    float: left;
    background: white;
    margin-top: 35px;
}
#input_s{
    float: left;
    width: 560px;
    height: 36px;
    margin-left: 50px;
    border-width: 2px 0 2px 2px;
    border-color: #f30213;
    border-style: solid;
    outline: 0;
    font-size: 12px;
}
#search_b{
    float: left;
    width: 82px;
    height: 40px;
    background: #f30213;
    color: white;
    border: 0px;
    font-size: 20px;
    position: relative;
    right: 19px;
}
#cart{
    float: left;
    width: 140px;
    height: 40px;
    margin-left: 30px;
    text-align: center;
    font-size: 16px;
    background: #f0f3ef;
    line-height: 40px;
}
#up_load{
    display: block;
    width: 19px;
    height: 15px;
    position: relative;
    right: 50px;
    float: left;
    top: 12px;
    overflow: hidden;
    background-image: url("images/camera.jpg");
}
#up_load:hover{
    background-image: url("images/camera.jpg");
    background-position: -30px 0;

}
#cart_logo{
    display: block;
    width: 16px;
    height: 34px;
    position: relative;
    right: 25px;
    float: left;
    top: 3px;
    overflow: hidden;
    background-image: url("images/cart.jpg");
}
#shopping_amount {
    position: relative;
    top: -35px;
    left: -8px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #da1026;
    border-radius: 7px;
    min-width: 14px;
    font-family: tahoma,arial;
    text-align: center;
}
#hot_words{
    margin-left: 50px;
    width: 900px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#hot_words ul{
    margin-left: 50px;
}
#hot_words ul li{
     float: left;
     margin-left: 10px;
 }
#hot_words ul span{
    float: left;
    margin-left: 10px;
}
#nav_2018{
    width: 100%;
    height: 33px;
    border-bottom: 2px solid #f30213;
    margin-top: 80px;
    position: relative;
}
#good_nav{
    width: 1390px;
    height: 33px;
    margin: auto;
}
#dt{
    display: block;
    width: 190px;
    height: 33px;
    color: white;
    background: #f30213;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    float: left;
}
.a_b{
    width: 100px;
    height: 33px;
    text-align: center;
    color: black ;
    margin-left: 5px;
    font-size: 15px;
    float: left;
}
#result_s{
    width: 1390px;
    height: 44px;
    margin: auto;
}
#rs_se{
    width: 1265px;
    height: 29px;
    margin-top: 15px;
}
.rs_re_co{
    float: left;
    width: 55px;
    height: 15px;
    font-size: 12px;
    text-align: center;
}
#sl_warp{
    width: 1390px;
    height: 120px;
    margin: auto;
    border-top:  2px solid #dddddd;
}
.sl_key{
    position: relative;
    float: left;
    width: 110px;
    height: 34px;
    margin-left: 5px;
    text-align: center;
    font-size: 14px;
}
#value_list{
    width: 1140px;
    height: 109px;
    float: left;
    background: white;

}
#value_ul{
    padding-top: 10px;
    margin-bottom: 10px;
}
#value_ul li{
    width: 118px;
    height: 50px;
    float: left;
    border: 1px solid #DDD;
    margin: -1px -1px 0 0;
    text-align: center;
}
#value_ul li a{
    border: 1px solid #FFF;
    height: 46px;
    width: 114px;
    overflow: hidden;
    line-height: 48px;
}
#more{
    width: 110px;
    height: 25px;
    float: right;
}
#more1{
    border: 1px solid #FFF;
}

.sl_value1{
    width: 1390px;
    height: 34px;
    margin: auto;
    border-top:  2px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.goodsvalue{
    float: left;
    width: 1140px;
    height: 34px;
}
.goodsvalue ul li {
    float: left;
    margin-left: 50px;
}
#list_show{
    position: relative;
    top: 25px;
    width: 1390px;
    height: 1600px;
    margin: auto;
}
#left_li{
    width: 180px;
    height: 1500px;
    float: left;
    border: 1px solid #666666;
}
#right_li{
    width: 1200px;
    height: 1500px;
    float: right;
}
.rl_list{
    width: 1200px;
    height: 38px;
    border: 1px solid #DDDDDD;
}
.rl_li{
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}
.ll_li{
    float: right;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
}
.check_g{
    float: left;
    width: 85px;
    height: 38px;
    text-align: center;
}
#check_g{
    width: 120px;
    height: 38px;
    float: left;
    text-align: center;

}
#check_ri{
    float: right;
    width: 190px;
    height: 38px;
}
#check_ri input{
    float: right;
    width: 116px;
    height: 25px;
    text-align: center;
    margin-top: 7px;
    border: 1px solid #666666;
}
#check_ri button{
    float: right;
    width: 60px;
    height: 27px;
    border: 0;
    margin-top: 7px;
}
#ll_ad a{
    font-size: 15px;
    width: 90px;
    height: 38px;
    margin-left: 15px;
}
#ll_ad p{
    float: right;
}
.left_gli{
    width: 178px;
    height: 260px;
    margin: auto;
}
.left_gli img{
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;
    left: 9px;
}
.left_li_price{
    width: 160px;
    height: 20px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    color: #da1026;
}
.left_li_name{
    width: 160px;
    height: 36px;
    margin: auto;
    overflow: hidden;
    margin-top: 5px;
}
.left_li_comm{
    width: 160px;
    height: 26px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.left_li_comm span{
    color: #2871ff;
}
.rl_gli{
    width: 240px;
    height: 476px;
    float: left;
}
.rl_gli img{
    width: 220px;
    height: 220px;
    position: relative;
    left: 10px;
    top: 10px;
}
.rl_li_price{
    width: 220px;
    height: 22px;
    font-size: 20px;
    color: #da1026;
    position: relative;
    top: 5px;
    margin: auto;
    text-align: center;
}
.rl_li_name{
    width: 220px;
    height: 40px;
    overflow: hidden;
    position: relative;
    top: 5px;
    margin: auto;
}
.rl_li_comm{
    width: 220px;
    height: 18px;
    margin: auto;
    margin-top: 5px;
    position: relative;
    top: 5px;
}
.rl_li_comm span{
    color: #2871ff;
}
.second_sl{
    float: right;
    width: 60px;
    height: 18px;
}
.second_sl a{
    color: #2871ff;
}
.rl_li_shop{
    width: 220px;
    height: 18px;
    text-align: center;
    position: relative;
    top: 5px;
}
.rl_li_j_pro{
    width: 220px;
    height: 16px;
    margin: auto;
    position: relative;
    top: 5px;
}
.rl_li_j_pro a{
    width: 30px;
    height: 16px;
    background: #da1026;
    color: white;
    border-radius: 3px;
    float: left;
    text-align: center;
}
.rl_li_operate{
    width: 220px;
    height: 27px;
    margin: auto;
    position: relative;
    top: 5px;
}
.contrast{
    float: left;
    width: 53px;
    height: 25px;
    border: 1px solid #DDDDDD;
    text-align: center;
}
.jd_focus{
    float: left;
    width: 53px;
    height: 25px;
    border: 1px solid #DDDDDD;
    text-align: center;
}
.jd_add_cart{
    float: left;
    width: 108px;
    height: 25px;
    border: 1px solid #DDDDDD;
    text-align: center;
}
#page_clear_fix{
    width: 1200px;
    height: 38px;
    float: right;
}
#page_clear_fix div{
    float: right;
    margin-right: 15px;
}
#page_search button{
    width: 50px;
    height: 38px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #666666;
}
#page_page{
    width: 20px;
    height: 38px;
    text-align: center;
    line-height: 30px;
    border: 0;
}
#page_text{
    width: 50px;
    height: 36px;
    line-height: 30px;
    border: 1px;
}
#page_text input{
    width: 50px;
    height: 36px;
    text-align: center;
}
#page_sum{
    width: 100px;
    height: 38px;
    text-align: center;
    line-height: 30px;
}
#page_next button{
    width: 60px;
    height: 38px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #666666;
}
#page_other{
    width: 50px;
    height: 38px;
    text-align: center;
    line-height: 30px;
}
.page_code button{
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #666666;
}
#page_prev button{
    width: 50px;
    height: 38px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #666666;
}
#service_2018{
    width: 100%;
    height: 322px;
    background: #eaeaea;
}
#slogen{
    width: 1390px;
    height: 102px;
    border-bottom: 1px solid #e2c7ae;
    margin: auto;
    position: relative;
    margin-top: 30px;
}
#slogen_li1{
    float: left;
    width: 320px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-indent: 46px;
    color: #444;
    position: relative;
}
#slogen_li2{
    float: left;
    width: 320px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-indent: 46px;
    color: #444;
    position: relative;
}
#slogen_li3{
    float: left;
    width: 320px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-indent: 46px;
    color: #444;
    position: relative;
}
#slogen_li4{
    float: left;
    width: 320px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-indent: 46px;
    color: #444;
    position: relative;
}
#slogen_li1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 42px;
    background-image: url("images/footericon.jpg");
    background-position: 0 0;
}
#slogen_li2 span{
     position: absolute;
     top: 0;
     left: 0;
     width: 36px;
     height: 42px;
     background-image: url("images/footericon.jpg");
     background-position: 0 42px;
}
#slogen_li3 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 42px;
    background-image: url("images/footericon.jpg");
    background-position: 0 84px;
}
#slogen_li4 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 42px;
    background-image: url("images/footericon.jpg");
    background-position: 0 126px;
}
.service_dl{
    width: 1390px;
    height: 200px;
    margin: auto;
    border-bottom: 2px solid #666666;
}
.service_dl dl{
    width: 198px;
    height: 160px;
    float: left;
    position: relative;
    top: 15px;
    margin-left: 20px;
}
.service_dl dl dd{
    margin-top: 5px;
}
.service_dl dl dt{
    font-size: 14px;
    font-weight: 700;
    color: #777;
    height: 22px;
}
#footer{
    width:100%;
    height: 350px;
    margin: auto;
    background: #eaeaea;
}
#footer p{
    text-align: center;
    font-size: 14px;
    position: relative;
    height: 36px;
}
#footer span{
    margin: 0 6px;
    font-size: 14px;
    height: 14px;
}
#i_1{
    display: inline-block;
    width: 15px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 10px;
    background-image: url("images/iconfoot.png");
    background-position: 0 0 ;
}
#i_2{
    display: inline-block;
    width: 15px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 10px;
    background-image: url("images/iconfoot.png");
    background-position: 35px 0 ;
}
#i_3{
    display: inline-block;
    width: 15px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 10px;
    background-image: url("images/iconfoot.png");
    background-position: 0 -15px ;
}
#i_4{
    display: inline-block;
    width: 15px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 10px;
    background-image: url("images/iconfoot.png");
    background-position: -40px 0 ;
}
#sprite_1{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
    background-repeat: no-repeat;
    background-position: -205px -148px;
    background-image: url("images/sprite_footer.png");
}
#sprite_2{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
    background-repeat: no-repeat;
    background-position: -205px -111px;
    background-image: url("images/sprite_footer.png");
}
#sprite_3{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
    background-repeat: no-repeat;
    background-position: -205px -74px;
    background-image: url("images/sprite_footer.png");
}
#sprite_4{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
    background-repeat: no-repeat;
    background-position: -205px -37px;
    background-image: url("images/sprite_footer.png");
}
#sprite_5{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
    background-repeat: no-repeat;
    background-position: -205px 0;
    background-image: url("images/sprite_footer.png");
}
#sprite_6{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
    background-repeat: no-repeat;
    background-position: 0 -155px;
    background-image: url("images/sprite_footer.png");
}
#cover{
    float: right;
    background-repeat: no-repeat;
    background-position: 0 0;
    float: right;
    width: 200px;
    height: 150px;
    background-image: url("images/sprite_footer.png");
    position: relative;
    margin-right: 35px;
}
#cover p{
    text-align: center;
    font-size: 14px;
    font-weight: 700;

}
#cover a{
    float: right;
}