* {
    margin: 0;
    padding: 0
}

em, i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}

button, input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px / 1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666
}




#header{
    width: 1349px;
    height: 110px;
    background-color: white;
    box-shadow:10px 1px 3px lightgray;

}
#header #logo{
    width: 1210px;
    height: 76px;
    float: top;
    margin-left: 60px;
    background-color:white;
}
#header .a_logo{
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 30px;
    background-image: url("../images/icon.png");
}
#header #logo_title{
    width:160px;
    height: 30px;
    float: left;
    text-align:left;
    font-size: 28px;
    margin-top: 35px;
}
#header #logo_right{
    width: 160px;
    height: 30px;
    float: right;
    text-align: right;
    margin-top: 60px;
    background-color: white;
    color: dimgrey;
    font-size: 15px;
}
#logo_right a{
    color: red;
}

#page_body{
    width:1349px;
    height: 600px;
    background-color: white;
    box-shadow:0px -1px 9px darkgray;
}
#footer{
    width: 1210px;
    height: 118px;
    background-color:white;
    margin-left: 69.5px;
    text-align: center;
    box-shadow:0px -1px 2px lightgray;
}
#footer_text{
    width: 1210px;
    height:30px;
    background-color: white;
    float: left;
    margin-top: 40px;
    text-align: center;
    cursor: pointer;

}
#footer_text #ul1{
    width: 1210px;
    height:35px;
    margin-left: 185px;

}

#footer_text .li1{
   color: dimgrey;
    line-height: 30px;
    float: left;
    margin-left: 10px;
    align-items: center;
}
.spacer1{
    margin: 11px 8px 0;
    width: 1px;
    height: 10px;
    background-color: darkgrey;
    float: left;

}
#footer_text #h1{
    margin-top: 20px;
}
#page_body #part1{
    width: 1349px;
    height: 110px;
    background-color: white;
    position:relative;
}
#part1_top{
    width: 400px;
    height: 55px;
    background-color:white;
    float: bottom;
    text-align: center;
    margin: auto;
    position: relative;
    top: 55px; left: 0; bottom: 0; right: 0;
}
#part1_top #small1{
    width: 60px;
    height: 55px;
    float: left;
    display: inline-block;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 19px -186px;
    font-size: 12px;

}
.p2{
    text-align: center;
    margin-top: 15px;
}
 #a1{
    color: white;
    font-size: 15px;

}
.a2{
    color: white;
    font-size: 15px;

}
.a3{
    color: darkgray;
    font-size: 15px;

}
#part1_top #small2{
    width: 60px;
    height: 55px;
    display: inline-block;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 19px -186px;
    font-size: 12px;
}
#part1_top #small2_2{
    width: 60px;
    height: 55px;
    display: inline-block;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 173px -186px;
    font-size: 12px;
}
#part1_top #small3{
    width: 60px;
    height: 55px;
    float: right;
    margin-bottom: 55px;
    display: inline-block;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 173px -186px;
    font-size: 12px;
}
#part1_top #small3_1{
    width: 60px;
    height: 55px;
    float: right;
    margin-bottom: 55px;
    display: inline-block;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 19px -186px;
    font-size: 12px;
}
#part1_top .span1_1{
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-bottom: 15px;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 10px -34px;
}
#part1_top .span1{
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-bottom: 15px;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 10px -65px;
}
#part2{
    margin: 50px auto 186px;
    width: 400px;
    height: 407px;

    position: relative;


}
.part2_center1{
    width: 400px;
    height: 90px;
    background-color: white;

}
#part2_bottom{
    width: 400px;
    height: 40px;
    background-color: white;


}
#other{
    width: 400px;
    height: 50px;
    border:solid 0.5px darkgray ;
}
.text1{
    display: block;
    width: 298px;
    height: 48px;
    float: right;
    text-align: left;

    color: #aaaaaa;
}
.select1{
    display: block;
    width: 98px;
    height: 53px;
    float: left;
    background-color: white;
    text-align: center;
    border:solid 1px darkgray ;
}
.button1{
    display: block;
    width: 400px;
    height: 53px;
    float: left;
    background-color: white;
    text-align: center;
    border:solid 1px darkgray ;
    color: darkgray;
}
.button2{
    display: block;
    width: 400px;
    height: 53px;
    float: left;
    background-color: red;
    text-align: center;
    border:solid 1px darkgray ;
    font-size: 20px;
    color: white;
}

.button3{
    display: block;
    width: 400px;
    height: 53px;
    float: left;
    background-color: white;
    text-align: left;
    border:solid 1px darkgray ;
    color: darkgray;
}


.span2{
    width: 40px;
    height: 40px;
    float: left;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: 10px -151px;
}
#span3{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 104px;
    background-image: url("../images/reg-icon.png");
    position: relative;
    background-position: -28px -151px;
}
.span4{
    float: left;
    display: block;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
}
#lab{
    width: 110px;
    height: 100px;
    position: relative;
    left: 150px;
    bottom: -50px;
    background-image: url("../images/reg-icon.png");
}
.go_1{
    width: 400px;
    height: 50px;
    float: bottom;
    position: relative;
    bottom:-90px ;
    text-align: center;
}
#go_2{
    width: 400px;
    height: 50px;
    float: bottom;
    position: relative;
    bottom:-125px ;
    text-align: center;
    color: white;

}

.go h{
    color: darkgray;
    font-size: 15px;
}
#s_button{
    width: 150px;
    height: 50px;
    float: bottom;
    background-color: red;
    font-size: 20px;
    color: white;
    border: 0px;
}